<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      These are some demo api calls you can make:
      <br />
      To follow/unfollow user you need to be logged in, otherwise
      follow/unfollow routes wont work. So, I suggest you first create a user
      and then login. <br />
      Follow the steps in <strong>No. 1 & No. 2</strong> instructions
    </h1>
    <div>
      <br /><br />
      <h2>1. To create a user</h2>
      <h2>https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users</h2>
      <h3>Method: Post</h3>

      <p>
        <strong>Inside request body add the following parameters :</strong>
        <br />
        username <br />password <br />email <br />
        fullname
      </p>
    </div>
    <div>
      <br /><br />
      <h2>2. To Login</h2>
      <h2>
        https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users/login
      </h2>
      <h3>Method: Post</h3>

      <p>
        <strong>Inside request body add the following parameters :</strong>
        <br />
        password <br />email
      </p>
    </div>
    <div>
      <br /><br />
      <h2>3. Retrieve a specific user by username</h2>
      <h2>
        https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users/<
        username >/
      </h2>
      <br />
      <p>
        E.g:
        https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users/mofizz
      </p>
      <h3>Method: Get</h3>
    </div>
    <div>
      <br /><br />
      <h2>4. Retrieve a list of followers for a specific user</h2>
      <h2>
        https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users/<
        username >/followers
      </h2>
      <br />
      <p>
        E.g:
        https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users/mofizz/followers
      </p>
      <h3>Method: Get</h3>
    </div>
    <div>
      <br /><br />
      <h2>5. Retrieve a list of users a specific user is following</h2>
      <h2>
        https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users/<
        username >/following
      </h2>
      <br />
      <p>
        E.g:
        https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users/mofizz/following
      </p>
      <h3>Method: Get</h3>
    </div>
    <div>
      <br /><br />
      <h2>6. Follow a specific user</h2>
      <h2>
        https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users/<
        username >/follow
      </h2>
      <br />
      <p>
        E.g:
        https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users/kkkh/follow
      </p>
      <h3>Method: Post</h3>
    </div>
    <div>
      <br /><br />
      <h2>7. Unfollow a specific user</h2>
      <h2>
        https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users/<
        username >/follow
      </h2>
      <br />
      <p>
        E.g:
        https://lashme-simple-social-app-fahimfaisalkhan.vercel.app/users/kkkhg/follow
      </p>
      <h3>Method: Delete</h3>
    </div>
  </body>
</html>
